<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
		<div th:replace="fragments/header"></div>

	<h1>Dashboard</h1>
	<table class="table border">
				<thead>
					<tr>
						<th class="text-center">Booking Date</th>
						<th class="text-center">Departure Date</th>
						<th class="text-center">Number of Passengers</th>
						<th class="text-center">Total Price</th>
					</tr>
				</thead>
	<tbody>
					<tr th:each="reservation:${reservations}">
						<td class="p-1" th:text="${reservation.booking_date}"></td>
						<td class="p-1" th:text="${reservation.departure_date}"></td>
						<td class="p-1" th:text="${reservation.no_of_passengers}"></td>
						<td class="p-1" th:text="${#numbers.formatCurrency(reservation.total_price)}"></td>
						<td class="p-1"><a th:href="@{/edit-reservation/{id}(id=${reservation.reservation_id})}" type="button" class="btn btn-primary">Modify</a></td>
						<td class="p-1">
						<form action="#" th:action="@{delete-reservation/{id}(id=${reservation.reservation_id})}" method="post">
							<button type="submit" class="btn btn-danger">Cancel</button>
						</form>
						</td>
					</tr>
				</tbody>
				</table>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>